html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-size: 4rem;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}

p {
  font-size: 2rem;
}

.img-flex {
  overflow: hidden;
  max-height: 500px;
}

.banner {
  position: relative;
}

.banner-content {
  position: absolute;
  bottom: 1em;
  padding-left: 1em;
  max-width: 50em;
}
